.carte{
    display: flex;
    margin-top: 100px;

}
.nav-bar{
    color:black;
    height: 50px;
    background-color :white;
    display: flex;
    justify-content:center;
}
.button-container{
    text-align: center;
}
.button{
    width:250px;
    height: 100px;
}
.input-search{
    width: 800px;
    height: 50px;
}
.button-search{
    width:160px;
    height: 51px;
    color:white;
}
